/*header title */
.header-title {
	-fx-text-fill:'#386ab6';
	-fx-font-size:25pt;
}

.table-title-line {
	-fx-border-width:5;
	-fx-margin:0 0 5 0;
}

.colorPanel .button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color : white;
    -fx-border-width:1;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-text-fill:white;
}

.colorPanel .button:hover{
    -fx-background-color: transparent;
}

.colorPanel .button:pressed, .button:default:hover:pressed,.button:focused{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color : white;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
        -fx-text-fill:black;
    
}

.button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color : transparent;
    -fx-background-color: #467ed4;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-text-fill:white;
}
 
.button:hover{
    -fx-background-color: #568fe6;
}
 
.button:pressed, .button:default:hover:pressed,.button:focused{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color : transparent;
    -fx-background-color: #386ab6;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

#config-rule-panel, #desk-main-panel {
	-fx-background-color: #3a65a5;
}

#desk-user-panel {
	-fx-background-color: #386ab6;
}

#desk-finance-panel {
	-fx-background-color: #5689d8;
}

#config-fee-panel {
	-fx-background-color: #5689d8;
}

.colorPanel .label,
.colorPanel .radio-button,
.colorPanel .check-box {
	-fx-text-fill:#fff;
}
 
.colorPanel .text-input {
	-fx-border-color:transparent;
} 

.colorPanel .check-box .box,
.colorPanel .radio-button .radio {
	-fx-border-color:transparent;
}

.colorPanel .combo-box-base  {
    -fx-background-color: white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: transparent;
}

/*搜索框 */
.searchBox {
	-fx-border-radius: 20px, 20px;
    -fx-background-color: white;
    -fx-border-color: #386ab6;
    -fx-background-insets: 0;

    -fx-prompt-text-fill: #818181;

    -fx-highlight-fill: #467ed4; /* TODO: this probably is the "active" color" */
    -fx-highlight-text-fill: black;
}

.search-btn, #playerSearch {
	-fx-background-color:transparent;
	-fx-graphic: url('./icon_search.png');
	padding:0;
}

.searchBox:hover,
.searchBox:focus {
	-fx-background-color: transparent;
}

.choice-box{
    -fx-background-color: white;
    -fx-padding: 3;
    -fx-border-radius: 0,0;
    -fx-background-radius: 0,0;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}



.choice-box .context-menu .label,.choice-box .label {
    -fx-text-fill: black;
}

.choice-box:hover,
.choice-box:active,
.choice-box:focus{
	-fx-padding: 3;
}

.toggle-button {
    -fx-padding: 5;   
    -fx-border-style: null; 
    -fx-background-radius: 0;
 
    -fx-background-color: #44C662;
   
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.toggle-button:hover {
	-fx-background-color: #53d772;
	    -fx-text-fill: white;

}

.toggle-button:focused {
    -fx-background-color: #38ad53;
    -fx-text-fill: white;  
}
 
.toggle-button:selected {
    -fx-background-color: #F23A3A;
    -fx-text-fill: white;
}
 
.toggle-button:selected:hover {
	-fx-background-color: #C9182B;
	-fx-text-fill: white;
}


.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: transparent;/* 0 */  
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view:focused .table-row-cell:focused,.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, transparent;/* 0 */  
    -fx-background-insets: 0, 1, 2;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-box-border, #ff0;/* 0 */  
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {    
    -fx-background-color: #659cef;
    -fx-background-insets: 0,1 1 1 1 0;
}


.table-view:focused .table-row-cell:filled:selected label, .table-view:row-selection .table-row-cell:filled:hover:selected label {    
    -fx-text-fill: white;
}

.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: #f1f1f1;
}

.table-view:row-selection .table-row-cell:filled:hover label { 
	    -fx-text-fill: white;
}



.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell:empty {
    -fx-background-color: white;
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.start-button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 5;
    -fx-alignment: center;
}
.end-button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 5;
    -fx-alignment: center;
}


.titled-pane 
{
-fx-text-fill: #fff;
-fx-font-size: 13px;
-fx-margin: 0 5px 10px 5px;
}
.titled-pane:focused 
{
-fx-text-fill: white;
}
.titled-pane > .title 
{
-fx-background-color: #5da2ca;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 5px 10px; /* 2 10 3 10 */
-fx-font-size: 18px;
}

.titled-pane:focused > .title 
{
-fx-color: #fff;
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: none;
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color: #5689d8;
-fx-background-insets: 0 0 0 0;
-fx-padding: 1em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}